app css stylesheet */

.menu {
    list-style: none;
    border-bottom: 0.1em solid black;
    margin-bottom: 2em;
    padding: 0 0 0.5em;
}

.menu:before {
    content: "[";
}

.menu:after {
    content: "]";
}

.menu > li {
    display: inline;
}

.menu > li:before {
    content: "|";
    padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
    content: "";
    padding: 0;
}

.showme {
    display: none;
}

.showhim:hover .showme {
    display: inline;
/*float: right;*/
}
/************************/

.line {
    min-height: 24px;
    height: auto;
}

.line:hover {
    background-color: #ffdbdb;
}

.line .tailtrash, .line .icon-undo,.line .icon-pencil,.line .icon-lock,.line .icon-lock {
    display: none;
}

.line:hover .icon-pencil,.line:hover .icon-undo,.line:hover .icon-lock,.line:hover .icon-pencil {
    display: inline;
    float: right;
    margin: 7px 10px auto auto;
}

.line input:focus~.tailtrash,.line select:focus~.tailtrash ,.line textarea:focus~.tailtrash,.line .tailtrash:hover {
    display: inline;
  /*float: right;*/
    margin: 7px 10px auto auto;
}

.line .controls label {
    display: inline-block;
    margin: 0px;
}
/*.line .controls label:hover {
  background-color: #FFF;
}*/
.line label select:hover {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding: 0px 2px;
    border: none;
    background: transparent url("../img/arrow_down.gif") no-repeat right center;
}

.line label select:focus {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding: 0px 2px;
    border: none;
    background: #FFF url("../img/arrow_down.gif") no-repeat right center;
}

.line label select {
    color: #000;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding: 0px 2px;
    border: none;
    background: transparent;
    width: auto;
    margin: 0px -5px 0px 0px;
    min-width: 45px;
    width: auto;
}

.line .showlabel {
    height: 24px;
    line-height: 24px;
    border: none;
    padding: 0px 7px;
}

.line .locklabel {
    height: 24px;
    line-height: 24px;
    border: none;
    padding: 0px 7px;
}

.line .showlabel:hover {
    height: 22px;
    line-height: 22px;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    padding: 0px 6px;
}

.line .bold {
    font-weight: bold;
}

.re-bg {
    background: transparent !important;
}
/*
.linehigh:hover {
    background-color: #ffdbdb;
}

.linehigh .icon-pencil {
    display: none;
}
.linehigh .icon-lock {
    display: none;
}

.linehigh:hover .icon-lock {
    display: inline;
    float: right;
    margin: 5px 10px auto auto;
}
.linehigh:hover .icon-pencil{
    display: inline;
    float: right;
    margin: 5px 10px auto auto;
}
*/
select {
    padding: 0px 0px 0px 6px;
}

input[type="radio"], input[type="checkbox"] {
    margin: 0px;
}

.controls span {
    vertical-align: middle;
}

.input-append input, .input-append select, .input-append .uneditable-input {
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}

.re-btn {
    color: #0088c9;
    margin-left: -18px !important;
    z-index: 2;
    position: relative;
    background: transparent;
    height: 24px;
    width: 18px;
    border: none;
    padding: 0px;
}

.re-btn:hover,.re-btn:active,.re-btn:after {
    color: #2e71a5;
    background: transparent;
    border: none;
    box-shadow: none;
}

.re-large {
    *width: 206px;
    width: 194px;
    padding-right: 18px !important;
}

.re-small {
    width: 71px;
    padding-right: 18px !important;
}

.btn-mini .caret, .btn-small .caret {
    margin-top: -4px;
}


