 app css stylesheet */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}
.showme{ 
display: none;
}
.showhim:hover .showme{
display : inline;
/*float: right;*/
}

.line:hover {
  background-color: #F0F0F0;
}
.line .icon-trash {
  display: none;
}
.line .icon-undo {
  display: none;
}
.line .icon-pencil {
  display: none;
}
.line:hover .icon-pencil {
  display: inline;
  float: right;
  margin: 7px 10px auto auto;
}
.line:hover .icon-undo {
  display: inline;
  float: right;
  margin: 7px 10px auto auto;
}
.line input:focus~.icon-trash {
  display: inline;
  /*float: right;*/
  margin: 7px 10px auto auto;
}
.line .icon-trash:hover {
  display: inline;
  /*float: right;*/
  margin: 7px 10px auto auto;
}
.line select:focus~.icon-trash {
  display: inline;
  /*float: right;*/
  margin: 7px 10px auto auto;
}
.line .controls label {
  padding-top: 5px;
  display: inline-block;
}
/*.line .controls label:hover {
  background-color: #FFF;
}*/
.line label select:hover {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding: 2px 30px 2px 2px;
    border: none;
    background: transparent url("http://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/br_down.png") no-repeat right center;
}
.line label select {
    -webkit-appearance: none;
   -moz-appearance: none;
    appearance: none;
    padding: 2px 30px 2px 2px;
    border: none;
    background: transparent;
}

.line .showlabel {
}