<!-- <form class="form-horizontal" role="form">
	<div class="control-group">
		<label class="control-label">
			账号（只读）
		</label>
		<editable mode="out" output="customer.id" class="controls">
			<input edit type="text" ng-model="customer.id">{{customer.id}}
		</editable>
	</div>
	<div class="control-group">
		<label class="control-label">
			姓名
		</label>
		<editable mode="mix" output="customer.name" class="controls">
			<input edit type="text" ng-model="customer.name"></input>
			<span ng-show="!customer.name">zzz</span>
		</editable>
	</div>
	<div class="control-group">
		<label class="control-label">
			性别
		</label>
		<editable mode="mix" output="customer.gender" class="controls">
			<select edit ng-model="customer.gender" ng-options="o for o in genders"></select>
		</editable>
	</div>
	<div class="control-group">
		<label class="control-label">
			地址
		</label>
		<editable mode="mix" output="customer.address.country+customer.address.city+customer.address.location" class="controls">
			<input edit type="text" ng-model="customer.address.country">
			<input edit type="text" ng-model="customer.address.city">
			<input edit type="text" ng-model="customer.address.location">
		</editable>
	</div>
	<div class="control-group">
		<label class="control-label">
			地址(modal)
		</label>
		<editable mode="popover" output="customer.address.country+customer.address.city+customer.address.location" class="controls">
			<input edit type="text" ng-model="customer.address.country">
			<input edit type="text" ng-model="customer.address.city">
			<input edit type="text" ng-model="customer.address.location">
		</editable>
	</div>
	<div class="control-group">
		<label class="control-label">
		</label>
		<div class="controls">
			<button class="btn" ng-click="save()">保存</button>
			<button class="btn" ng-click="restore()">恢复</button>
		</div>
	</div>
</form>
<hr>
{{customer}}
<hr>
<div ng-repeat="o in list">
<editable mode="mix" output="o.name">
	<input edit type="text" ng-model="o.name">
</editable>
</div>
<hr>
<button class="btn" ng-click="modifyList()">Modify</button>
{{list}}
<hr> -->
<editable mode="mix" output="customer.name" class="controls">
	<input edit type="text" ng-model="customer.name"></input>
	<span ng-show="!customer.name">zzz</span>{{customer.name}}
</editable>
<editable2 ng-repeat="o in list" class="span2" mode="mix" output="o.name" tmpid="a.html" placement="bottom">
	<script type="text/ng-template" id="a.html">
	<pre>2 + 3 = <span ng-cloak>{{ 2 + 3 }}</span></pre>
	<input edit type="text" ng-model="o.name">
	<input edit type="text" ng-model="o.name">{{$index}}
	</script>
</editable2>
<!-- <editable2 mode="mix" output="customer.name">
	<input edit2 type="text" ng-model="customer.name">
</editable2> -->